@tailwind base;
@tailwind components;
@tailwind utilities;


body .uwy.userway_p1 .userway_buttons_wrapper {
  top: 35rem !important;
}

@media (max-width: 768px) {
  body .uwy.userway_p1 .userway_buttons_wrapper {
    top: 52rem !important;
  }
}
